<div class="container">
  
    <div class="container text-center" style="margin: 30px ;">
        <h3> Sistema de Inventarios </h3>
    </div>
    

    <table class="table table-striped table-hover aling-middle">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripcion de Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let producto of productos">
            <th scope="row">{{producto.idProducto}}</th>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.existencia}}</td>
          </tr>

        </tbody>
      </table>
      

</div>